Nolan Roth <br>
PHYS 434 AC <br>

# Homework #3

In [2]:
%matplotlib inline
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import scipy
from scipy import stats
from scipy import signal
from scipy.stats import norm
from astropy.table import QTable, Table, Column
from astropy import units as u
import numpy as np

plt.rcParams["figure.figsize"] = (10, 5)

## Problem 1

Below is the truth table for the neural network (NN) algorithm:

In [3]:
t1 = QTable()
t1[' '] = ['NN bird', 'NN Person']
t1['True Bird'] = [45, 3]
t1['True Person'] = [5, 47]
t1

<QTable length=2>
          True Bird True Person
   str9     int64      int64
--------- --------- -----------
  NN bird        45           5
NN Person         3          47

Below is the truth table for the new algorithm (NA):

In [23]:
t2 = Table()
t2[' '] = ['NN bird', 'NN Person']
t2['True Bird'] = [47, 1]
t2['True Person'] = [11, 42]
t2

<Table length=2>
          True Bird True Person
   str9     int64      int64
--------- --------- -----------
  NN bird        47          11
NN Person         1          42

From the tables, we can see that neural network made the fewest mistakes with only 8 incorrect identifications compared to 12 by the new algorithm.

However, the new algorithm is better for the zoo because it only identified 1 bird incorrectly as a person, compared to 3 by the neural network algorithm. This means the new algorithm would be better for keeping birds from escaping. Because keeping birds from escaping is more important to the zoo than preventing zookeepers from getting locked in, the new algorithm is better for the zoo.

During the pandemic, only 1% of the photos are of true people instead of the original 52%. Below is the updated truth table for the neural network algorithm:

In [35]:
t3 = QTable()
t3[' '] = ['NN bird', 'NN Person']
t3['True Bird'] = [93, 6]
t3['True Person'] = [0, 1]
t3

<QTable length=2>
          True Bird True Person
   str9     int64      int64
--------- --------- -----------
  NN bird        93           0
NN Person         6           1

Below is the updated truth table for the new algorithm:

In [37]:
t4 = QTable()
t4[' '] = ['NN bird', 'NN Person']
t4['True Bird'] = [97, 2]
t4['True Person'] = [0, 1]
t4

<QTable length=2>
          True Bird True Person
   str9     int64      int64
--------- --------- -----------
  NN bird        97           0
NN Person         2           1

## Problem 2

The sum of two exponential distributions is the Erlang distribution with k = 2.

The ratio of two standard normal distributions is a Cauchy distribution.